@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  font-family: ui-sans-serif, system-ui;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background: linear-gradient(to bottom, #050b1d, #020617);
}
